[submodule "CloudServer/External/spdlog"]
	path = CloudServer/External/spdlog
	url = https://github.com/gabime/spdlog
[submodule "External/DiffieHellman"]
	path = External/DiffieHellman
	url = https://github.com/thejinchao/dhexchange
